name: Markdown Lint

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm install -g markdownlint-cli
      - run: markdownlint "**/*.md"
